body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilos para pantallas grandes (ordenadores) */
@media (min-width: 1024px) {
    .container {
        width: 80%;
        margin: auto;
    }
}

/* Estilos para pantallas medianas (tabletas) */
@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: 90%;
        margin: auto;
    }
}

/* Estilos para pantallas peque침as (m칩viles) */
@media (max-width: 767px) {
    body {
        font-size: 14px; /* Reduce el tama침o de fuente para m칩viles */
    }
}







header {
    background: #ccc;
    color: #333;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
header h1 {
    margin: 0;
    font-size: 2rem;
    transition: color 0.3s, transform 0.3s;
}

header h1:hover {
    color: #ffffff; 
    transform: scale(1.1); 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffffff;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    animation: fadeIn 1s;
    flex: 1;
    margin-bottom: 60px; 
}

h2 {
    color: #333;
    text-align: center;
    margin: 20px 0;
}

h1, h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 40px;
}

.section p {
    text-align: center;
    line-height: 1.6;
}

p {
    text-align: center;
    line-height: 1.6;
}

.cards {
    display: flex;
    justify-content: center; 
    gap: 20px;
    flex-wrap: wrap; 
}

.card {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px; 
    box-sizing: border-box;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center; 
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.images {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.images img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.images img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    margin-top: auto; 
}
.contact{
    padding: 40px;
}
.contact-form {
    max-width: 500px;
    margin: 0 auto;
}
.contact-form input, .contact-form textarea{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.contact-form button{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
